<div id="app">
  <nav class="navbar navbar-expand navbar-dark">
    <a href="#" class="navbar-brand">ToDoApp</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/tasks" class="nav-link" routerLink="tasks">
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        </a>
      </li>
      <li class="nav-item">
        <a href="/directories" class="nav-link" routerLink="directories">
          <mat-icon aria-hidden="false" aria-label="Example home icon">folder</mat-icon>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">
          <mat-icon aria-hidden="false" aria-label="Example home icon">app_registration</mat-icon>
        </a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">
          <mat-icon aria-hidden="false" aria-label="Example home icon">login</mat-icon>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">
          <mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon>
        </a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>